@{
    ViewBag.Title = "Exemplos";
}
<h1>Exemplos</h1>
<div class="row">
    <div class="col-sm-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Profissão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Esfigoberto</td>
                    <td>11</td>
                    <td>Pentelho</td>
                </tr>
                <tr>
                    <td>João Claudio Vandame</td>
                    <td>51</td>
                    <td>Testador de boteco</td>
                </tr>
                <tr>
                    <td>Xenofreuda</td>
                    <td>12</td>
                    <td>Limpadora de umbigo</td>
                </tr>
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                Default
            </button>
            <button type="button" class="btn btn-success">Salvar</button>
            <button type="button" class="btn btn-danger">Excluir</button>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="http://i57.tinypic.com/so2sfq.jpg" style="max-width: 100px; height: 100px;" />
        <img src="http://i57.tinypic.com/so2sfq.jpg" class="img-circle" style="max-width: 100px; height: 100px;" />
        <img src="http://i57.tinypic.com/so2sfq.jpg" class="img-rounded" style="max-width: 100px; height: 100px;" />
        <img src="http://i57.tinypic.com/so2sfq.jpg" class="img-thumbnail" style="max-width: 100px; height: 100px;" />
    </div>
</div>